@media (max-width: 1800px){


    .main1{
        padding: 150px 23.9%;
    }


    .gridconteiner{
        padding:   96px 11%;

    }

.subscribe_section{
    padding: 160px 30.3%;

}

.shop_section{
    padding: 160px 8.5%;
}

.product_search{
    padding: 0px 12.3% 0px 12.3%;
}

.contact_hero{
    padding: 195px 57.5% 105px 11.7%;
}






}